body{
    margin: 0;
    background: #0f002c;
    color: #fff;
    user-select: none;
}
main{
    max-width: 320px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;

}
.title{
    color:#fff;
    font-size: 29px;
    font-weight: 700;
}
img{
    width: 100px;
    margin: 5px auto;
}
#input-Endorsement-el{
    margin: 10px 0px;
    resize: none;
    min-height: 8rem;
    padding: 10px;
    border-radius: 7px;

}
/* .from-to-section{
    display: flex;
    justify-content: space-between;
}
.from-to-input{
    max-width: 100px;
    padding: 10px 25px;
    margin: 10px 0px;
    border: none;
    border-radius: 7px;
    text-align: center;
} */
#btn-el{
    background: rgb(24, 175, 235);
    color: rgb(0, 0, 70);
    font-size: 1.3em;
    font-weight: bold;
    padding: 18px 0px;
    border: none;
    border-radius: 7px;
}
#btn-el:hover{
    cursor: pointer;
    background: rgb(1, 135, 188); ;
}
.sub-heading{
    margin: 15px auto;
    color: #fff;
}
ul{ 
    width: 320px;
    margin: 5px -40px;
    display: flex;
    flex-direction: column-reverse;
}
ul li{
    color: #000000;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border: #fff solid 2px;
    list-style: none;
    font-family: 'Inter' ;
    font-size: 12px;
}

p{
    margin: 0;
    font-size: small;
}
